<?xml version="1.0" ?>
<launch>
  <arg name="robot" default="panda" doc="choose your robot. Possible values: [panda, fr3]"/>
  <arg name="arm_id" default="$(arg robot)" />
  <include file="$(find franka_control)/launch/franka_control.launch" pass_all_args="true"/>
  <rosparam command="load" file="$(find franka_example_controllers)/config/franka_example_controllers.yaml" subst_value="true" />
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen"  args="energy_shaping_controller_to_file"/>
  <node pkg="rviz" type="rviz" output="screen" name="rviz" args="-d $(find franka_example_controllers)/launch/robot.rviz"/>

<!--  <node name="my_rosbag" pkg="rosbag" type="record" output="screen" args="record -o /home/panda/bagfiles /energy_shaping_controller_to_file/Timevec /energy_shaping_controller_to_file/Energy /energy_shaping_controller_to_file/lambda /energy_shaping_controller_to_file/Power /energy_shaping_controller_to_file/beta /energy_shaping_controller_to_file/et /energy_shaping_controller_to_file/eo /energy_shaping_controller_to_file/X_Position /energy_shaping_controller_to_file/Y_Position /energy_shaping_controller_to_file/Z_Position /energy_shaping_controller_to_file/X_Position_d /energy_shaping_controller_to_file/Y_Position_d /energy_shaping_controller_to_file/Z_Position_d /energy_shaping_controller_to_file/Level_ET1 /energy_shaping_controller_to_file/Level_ET2 /energy_shaping_controller_to_file/Level_ET3 /energy_shaping_controller_to_file/Level_ET4 /energy_shaping_controller_to_file/Level_ET5 /energy_shaping_controller_to_file/Level_ET6 /energy_shaping_controller_to_file/Level_ET7"/>  -->

<!--  <node name="my_rosbag" pkg="rosbag" type="record" output="screen" args="record -o /home/panda/bagfiles -a"/> -->
 
</launch>
<!--	<rosparam command="load"
		file="$(find panda_energy_controller)/config/energy_shaping_controller_to_file.yaml" 
		subst_value="true" />
	<node name="controller_spawner" pkg="controller_manager"
		type="spawner" respawn="false" output="screen" args="energy_shaping_controller_to_file" />  -->

<!--        <node name="pos_vel_plot"
              pkg="rqt_plot"
              type="rqt_plot"
              args="/energy_shaping_controller_to_file/Energy /energy_shaping_controller_to_file/lambda" />  -->


